{% extends 'layout/admin.html.twig' %}
{% block title %}
    {{ 'page_title.users.edit'|trans }}
{% endblock %}
{% block content %}
    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>


    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.user.edition'|trans }}
                </h3>
                <div class="ui attached segment inverted">

                    {% form_theme form 'form/fields.html.twig' %}
                    {{ form_start(form, {attr: {class: 'ui form inverted', novalidate:'novalidate', 'action': url('admin_users_edit', {'id':user.id}) }} ) }}

                    <div class="ui grid two column">
                        <div class="row">
                            <div class="twelve wide column">
                                {{ form_row(form.roles) }}

                                <input type="submit" class="ui button green" value="{{ 'btn.edit' |trans}}"/>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}