{% extends 'layout/session.html.twig' %}

{% block title %}{{ 'page_title.login' | trans }}{% endblock %}

{% block body %}
    <div class="ui container">
        <div class="ui two column centered grid padded vh100 middle aligned doubling">
            <div class="column">
                <div class="ui header top attached inverted">
                    <span class="ui inverted header h3">
                        {{ 'label.login' | trans }}
                    </span>
                    <a href="{{ url('register') }}">{{ 'label.register' | trans }}</a>
                </div>
                <div class="ui attached segment inverted">
                    <div>
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form method="post" class="ui inverted form"
                              novalidate>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="two fields">
                                <div class="field">
                                    <label for="inputUsername">{{ 'label.username'|trans }}</label>
                                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                                </div>

                                <div class="field">
                                    <label for="inputPassword">{{ 'label.password'|trans }}</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                </div>
                            </div>

                            <div class="field">
                                <div class="ui checkbox">
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked class="hidden"/>
                                    <label for="remember_me">{{ 'label.remember_me'|trans }}</label>
                                </div>
                            </div>

                            <input type="submit" id="_submit" name="_submit" class="ui green button"
                                   value="{{ 'btn.login'|trans }}"/>
                        </form>
                    </div>
                </div>
                <div class="ui attached segment inverted">
                    {{ 'lost_password' | trans }}
                    <a href="{{ url('app_forgot_password_request') }}">{{ 'label.reset_password' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}