<a class="item inline-popup" href="javascript:" data-position="bottom right">
    <i class="ui icon bookmark"></i>
    {{ 'btn.notifications' | trans }}
    <div class="bottom floating ui red label hidden" id="unread_notification_nb"></div>
</a>
{% include 'partials/notifications/popup.html.twig' %}
<div class="ui green inverted dropdown item">
    <i class="user circle icon"></i>
    {{ app.user.username }}
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item">
            <i class="id card outline icon"></i>
            <a href="{{ url('admin_profile_index') }}">
                {{ 'btn.my_dashboard'|trans }}
            </a>
        </div>
        <div class="item">
            <i class="user icon"></i>
            <a href="{{ url('admin_profile_show') }}">
                {{ 'btn.my_account'|trans }}
            </a>
        </div>
        <div class="item">
            <i class="sign out icon"></i>
            <a href="{{ url('logout') }}">
                {{ 'btn.logout'|trans }}
            </a>
        </div>
    </div>
</div>