{% extends 'layout/admin.html.twig' %}
{% block title %}
    {{ 'page_title.team.edit'|trans }}
{% endblock %}
{% block content %}
    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {% if team.id %}
                        {{ 'title.team.edit'|trans }}
                    {% else %}
                        {{ 'title.team.create'|trans }}
                    {% endif %}
                </h3>
                <div class="ui attached segment inverted">


                    {% form_theme form 'form/fields.html.twig' %}
                    {{ form_start(form, {attr: {class: 'ui form inverted', novalidate:'novalidate'} }) }}

                    <div class="ui grid two column">
                        <div class="row">
                            <div class="twelve wide column">
                                {{ form_row(form.id) }}
                                {{ form_row(form.name) }}
                                {{ form_row(form.image) }}
                                {{ form_row(form.website) }}
                                {{ form_row(form.irc) }}
                                {{ form_row(form.discord) }}
                                {{ form_row(form.twitter) }}
                                {{ form_row(form.facebook) }}
                                {{ form_row(form.members) }}
                                {{ form_row(form.managers) }}

                                {% if team.id %}
                                    <input type="submit" class="ui button green" value="{{ 'btn.team.edit'|trans }}"/>
                                {% else %}
                                    <input type="submit" class="ui button green" value="{{ 'btn.team.create'|trans }}"/>
                                {% endif %}
                            </div>
                            <div class="four wide centered column">
                                {% if team.image is defined and not team.image is null %}
                                    <div class="form_image_column">
                                        <img class="ui centered image" src="{{ url('render_image', {
                                            'id': team.image.id,
                                            'maxwidth': 350
                                        }) }}" alt="">
                                        <a href="{{ url('admin_team_delete_image', {id: team.id}) }}" class="ui mini red button icon delete">
                                            <i class="ui delete icon"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}