<div class="buttons">
    {% if prevChapterExists is same as(true) %}
        <a href="" class="ui green button prev-chapter">
            <i class="angle left icon"></i>
            {{ 'label.prev_chapter'|trans }}
        </a>
    {% endif %}
    {% if nextChapterExists is same as(true) %}
        <a href="" class="ui green button next-chapter">
            {{ 'label.next_chapter'|trans }}
            <i class="angle right icon"></i>
        </a>
    {% endif %}
</div>