{% extends 'layout/public.html.twig' %}
{% block title %}
    {{ 'page_title.series.list'|trans }}
{% endblock %}
{% block content %}
    <div class="homepage ui container">

        <div class="ui stackable grid">
            <div class=" column">
                <div class="ui segment inverted clearing">
                    <h3 class="ui header">
                        {{ 'title.series.list' | trans }}
                    </h3>
                    <div class="ui divider"></div>

                    <div class="ui inverted segments"  id="series_filters_container">
                        <div class="ui clearing inverted segment" id="series_filters_container_header">
                            <div class="ui medium header left floated">
                                {{ 'title.filters' |trans }}
                            </div>
                            <div class="ui right floated" id="toggle_filters">
                                <i class="circular inverted green angle double down icon"></i>
                            </div>
                        </div>
                        <div class="ui inverted segment" id="series_filters_form_container">

                            {% form_theme form 'form/fields.html.twig' %}
                            {% set formClass = 'ui info form inverted' %}
                            {% if not form.vars.valid %}
                                {% set formClass = formClass ~ ' error ' %}
                            {% endif %}
                            {{ form_start(form, {attr: {class: formClass, novalidate:'novalidate', id: 'series_filters_form'} }) }}

                            <div class="field">
                                <div class="ui info message">
                                    <i class="ui info icon"></i>
                                    {{ 'label.tags.informations' |trans|nl2br }}
                                </div>
                            </div>

                            <div class="two fields">
                                <div class="field">
                                    {{ form_row(form.include_tags) }}
                                </div>
                                <div class="field">
                                    {{ form_row(form.exclude_tags) }}
                                </div>
                            </div>

                            <div class="two fields">
                                <div class="field">
                                    {{ form_row(form.inclusion_mode) }}
                                </div>
                            </div>

                            <div class="two fields">
                                <div class="field">
                                    {{ form_row(form.status) }}
                                </div>
                            </div>

                            <div class="two fields">
                                <div class="field">
                                    <input type="submit" class="ui button green" value="{{ 'btn.filter'|trans }}"/>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>

                    <div class="ui divider"></div>
                    <div class="ui cards inverted" id="public_series_list">
                        {% for series in pagination.currentPageResults %}
                            <div class=" green card ">
                                {% if series.image %}
                                    <div class="image">
                                        <a class=""
                                           href="{{ url('public_series_details', {
                                               slug: series.slug
                                           }) }}">
                                            <img src="{{ url('render_image', {
                                                'id': series.image.id
                                            }) }}" alt="">
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="content">
                                    <div class="header">
                                        <a class=""
                                           href="{{ url('public_series_details', {
                                               slug: series.slug
                                           }) }}">
                                            {{ series.name }}
                                        </a>
                                    </div>
                                    <div class="meta">
                                        {% for tags in series.tags %}
                                        {% if not loop.first %}
                                            |
                                        {% endif %}
                                        <a href="{{ url('public_series_list_tags', {'tags': tags}) }}">
                                            {{ tags }}
                                        </a>
                                        {% endfor %}<br>
                                        {{ 'label.artist' | trans }}: <a href="{{ url('public_series_list_a', {'authorOrArtist': series.artist}) }}">{{ series.artist }}</a><br>
                                        {{ 'label.author' | trans }}: <a href="{{ url('public_series_list_a', {'authorOrArtist': series.author}) }}">{{ series.author }}</a>
                                    </div>
                                    <div class="description">
                                        {{ series.description | u.truncate(300, '...', false) |nl2br }}
                                    </div>
                                </div>

                                <a class="ui bottom attached green inverted button"
                                   href="{{ url('public_series_details', {
                                       slug: series.slug
                                   }) }}">
                                    {{ 'btn.series.detail'|trans }}
                                </a>
                            </div>
                        {% else %}
                            {{ 'no_series' | trans }}
                        {% endfor %}
                    </div>

                    {% if pagination.haveToPaginate %}
                        {{ pagerfanta(pagination, 'semanticui_inverted', {'routeName': 'public_series_series', 'routeParams':{'page':'page'}}) }}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <script id="filter_helper"
            data-filter-submit-url="{{ url('public_series_list') }}">
    </script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('series_filters') }}
{% endblock %}