
*::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, .3);
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .3);
  border-radius: 5px;
}

body,
body.pushable {
  /*
  height: 100vh !important;
  margin: 0 auto;
  overflow-y: scroll !important;
  */

  //color: #f0f0f0;
  margin: 0 auto;
  overflow-y: scroll !important;

  background-image: url("../img/bg/shattered.png") !important;
  background-color: #333535 !important;
}

.vh100 {
  min-height: 100vh;
}

.flex-vert-horiz-center {
  justify-content: center !important;
  align-items: center !important;
}

.vert-align.middle {
  vertical-align: middle;
}

.hide {
  display: none !important;
}

.text-danger {
  color: #db2828;
}

.white-text {
  color: white;
}

a.white-text:hover {
  color: white;
  text-decoration: underline;
}

.flex {
  display: flex;

  &.middle-content {
    align-items: center;
  }

  [class*="right floated"] {
    margin-left: auto;
  }
}

a {
  &:focus {
    outline: none;
  }
}

/**
 * public pages
 */

.headerbar {
  margin-bottom: 20px;
}

.public-bg {
  min-height: 100vh;
}

.public-page {
  padding-top: 20px;
}

#latest_chapters_list {
  .download.icon {
    font-size: 1.5em;
  }

  .event-header {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border-bottom: solid 2px white;
    margin-bottom: 10px;
  }
}

#public_page .footer {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;

  .footer-text {
    color: #212121;
  }
}

/**
 * Session Pages
 */

.session-layout, .private-bg {
  min-height: 100vh;
  /* Default bg style */
  background-image: url("../img/bg/shattered.png");
  background-color: #333535;
}

/**
 * Private part
 */

body.admin-body {

  &.pushable > .pusher {
    background: inherit;
  }
}

.private-content {
  padding: 25px 20px;
}

.fileinput-button {
  overflow: inherit !important;

  input {
    display: none;
  }
}

#total-progress {
  margin-top: 15px;
  margin-bottom: 35px;
}

/*
Notification
 */
.ui.menu .ui.list#notifications_list .list > .item,
.ui.menu .ui.list#notifications_list > .item {
  display: flex;
}

.ui.list#notifications_list .list > .item > img.image + .content,
.ui.list#notifications_list > .item > img.image + .content {
  width: 100%;
  word-break: break-word;
}

.form_image_column {
  & > .button.delete {
    position: absolute;
    top: 0;
    right: 15px;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

#chapter_list.ui.items > .item {

  .chapter-row {
    margin-bottom: .5em;

    a {
      color: rgba(255, 255, 255, .9) !important;

      &:hover {
        color: #8c0615 !important;
      }

      &.readen {
        color: #aa1117 !important;

        &:hover {
          color: #8c0615 !important;
        }
      }
    }
  }

  > .image:not(.ui) {
    width: 125px;
  }

}

/*
Mimic table appearance for dropzone
*/
.dropzone {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;

  #actions {
    margin-bottom: 20px;
  }

  div.table {
    display: table;
    width: 100%;

    .file-row {
      display: table-row;

      > div {
        display: table-cell;
        vertical-align: middle;
        border-top: 1px solid #ddd;
        padding: 8px;
      }

      &:nth-child(odd) {
        background: #2d2d2d;
      }
    }
  }

  .preview {
    position: relative;
    height: 80px;
    width: 150px;

    img {
      max-width: 150px;
      max-height: 80px;

      &.page {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
      }
    }

    &.zoom-image {
      .preview-full-screen {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 100vh;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;

        img {
          max-width: 100% !important;
          max-height: 100vh !important;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          transform: translate(0%, -50%);
          -webkit-transform: translate(0%, -50%);

          &.page {
            z-index: 1001;
          }
        }
      }
    }
  }

  .file-upload-progress {
    min-width: 170px;
  }
}

.justified {
  justify-content: center;
}

.centered {
  text-align: center;
}

/**
 * Fomantic
 */

.ui.inverted.form textarea {
  background: #1b1c1d;
  border-color: rgba(255, 255, 255, .1);
  color: rgba(255, 255, 255, .8);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui.inverted.segments {
  border: 1px solid rgba(255, 255, 255, .1);
}

.ui.list.inverted {
  .item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }
}

.button:last-child {
  margin-right: 0;
}

.ui.inverted.list .item a:not(.ui):hover {
  color: unset !important;
}

hr {
  border: 0;
  border-top: 1px solid #8c8b8b;
}

/* Semantic UI has these classes, however they're only applicable to*/
/* grids, containers, rows and columns.*/
/* plus, there isn't any `mobile hidden`, `X hidden` class.*/
/* this snippet is using the same class names and same approach*/
/* plus a bit more but to all elements.*/
/* see https://github.com/Semantic-Org/Semantic-UI/issues/1114*/

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}
