@charset "UTF-8";

#public_page {
  #public_series_list {

    .card {
      width: 357px;
      border: none;
      box-shadow: none;

      &:nth-child(odd) {
        background-color: #333333;
      }

      .content {
        border: none;
      }

      .image {
        text-align: center;
        line-height: 0;
        background: transparent;
        max-height: 150px;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      a {
        color: inherit;
        margin: 0;
      }

      .button {
        margin: 0;
        width: 100%;
      }
    }
  }

  #public_series {
    .main-image {
      img {
        max-width: 100%;
      }
    }
  }

  #public_series_chapters {
    a {
      color: rgba(255,255,255,.9)!important;

      &:hover {
        color:#8c0615!important;
      }

      &.readen {
        color: #aa1117 !important;

        &:hover {
          color: #8c0615 !important;
        }
      }
    }
  }

  #series_filters_container {
    #series_filters_container_header {

      .header {
        margin-bottom: 0;
        line-height: 1.5;
      }

      #toggle_filters {
        cursor: pointer;
      }
    }

    #series_filters_form_container {
      display: none;
    }
  }

  #notifications_list {
    min-width: 275px;
  }
}


@media only screen and (max-width: 767.98px) {
  .ui.items:not(.unstackable)>.item>.image+.content {
    width: 100%;
  }
}
