
<div class="ui grid stackable">
    <div class="row">
        <div class="column">
            <div class="ui cards inverted" id="follow_series_list">
                {% for follow in follows.currentPageResults %}
                    {{ include('backend/partials/follows_pagination_item.html.twig', {series:follow.series, follow: follow}) }}
                {% endfor %}
            </div>
        </div>

    </div>

    {% if follows.haveToPaginate %}
        {{ pagerfanta(follows, 'semanticui_inverted', {'routeName': 'admin_profile_follows', 'routeParams':{'page':'page'}}) }}
    {% endif %}

</div>
