{% if series.id and is_granted(constant('App\\Voter\\ChapterVoter::ROLE_LIST_CHAPTER')) %}
    <div class="sixteen wide tablet screen four wide large screen eight wide widescreen column">
        <div class="row">
            <h3 class="ui top attached header inverted ">
                {{ 'title.chapter.list'|trans }}
            </h3>

            <div class="ui attached segment inverted">

                <div>
                    {% if is_granted(constant('App\\Voter\\ChapterVoter::ROLE_ADD_CHAPTER')) %}
                        <a class="ui primary button" href="{{ url('admin_chapter_add', {'seriesId': series.id}) }}">
                            {{ 'btn.chapter.add'|trans }}
                        </a>
                    {% endif %}
                </div>

                <div class="ui list inverted">
                    {% if chapters is defined and chapters|length > 0 %}
                        {% for chapter in chapters %}
                            <div class="item">
                                <div class="right floated content">
                                    {% if is_granted(constant('App\\Voter\\ChapterVoter::ROLE_DELETE_CHAPTER'), chapter) %}
                                        <a href="{{ url('admin_chapter_delete', {id: chapter.id}) }}"
                                           class="ui small red button delete delete_chapter">
                                            <i class="close icon"></i>{{ 'btn.chapter.delete'|trans }}
                                        </a>
                                    {% endif %}
                                </div>

                                <div class="content inline ">
                                    {% if is_granted(constant('App\\Voter\\ChapterVoter::ROLE_EDIT_CHAPTER'), chapter) %}
                                        <a href="{{ url('admin_chapter_edit', {id: chapter.id}) }}" class="header">
                                            {{ include('backend/partials/series_list_chapter_item.html.twig') }}
                                        </a>
                                    {% elseif is_granted(constant('App\\Voter\\ChapterVoter::ROLE_VIEW_CHAPTER'), chapter) %}
                                        <a href="{{ url('admin_chapter_edit', {id: chapter.id}) }}" class="header">
                                            {{ include('backend/partials/series_list_chapter_item.html.twig') }}
                                        </a>
                                    {% else %}
                                        <span class="header">
                                            {{ include('backend/partials/series_list_chapter_item.html.twig') }}
                                        </span>
                                    {% endif %}
                                    <span class="description">
                                        {{ 'created_at' | trans({'%date%' : chapter.createdAt | format_datetime('short', 'none', locale=chapter.language)}) }}
                                        {% if chapter.publishedAt %}
                                            | {{ 'published_at' | trans({'%date%' : chapter.publishedAt | format_datetime('short', 'none', locale=chapter.language)}) }}
                                        {% endif %}
                                    </span>

                                </div>
                            </div>

                        {% endfor %}
                    {% else %}
                        <div class="item">
                            <div class="content">
                                {{ 'error.chapter.no_result'|trans }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}