{% if series.customTitle is defined and series.customTitle|length > 0 %}
    {{ series.customTitle }}
{% else %}
    {{ 'label.chapter'|trans }}
{% endif %}
{{ chapter.number }} {% if chapter.name is defined and chapter.name|length > 0 %} : {{ chapter.name }} {% endif %}

{% if not chapter.visible %}
    | {{ 'label.chapter_invisible'|trans }}
{% endif %}