{% extends 'layout/admin.html.twig' %}

{% block content %}

    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>

    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen ten wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.profile'|trans }}
                    <a href="{{ url('admin_profile_edit') }}" class="ui button primary mini right floated">
                        {{ 'btn.profile.edition'|trans }}
                    </a>
                </h3>
                <div class="ui attached segment inverted">

                    <div class="ui grid two column">
                        <div class="row">
                            <div class="twelve wide column">

                                <p>{{ 'label.username'|trans }}: {{ user.username }}</p>
                                <p>{{ 'label.email'|trans }}: {{ user.email }}</p>
                                <p>{{ 'label.website'|trans }}: {{ user.website }}</p>
                                <p>{{ 'label.discord-profile'|trans }}: {{ user.discordProfile }}</p>
                                <p>{{ 'label.language'|trans }}: {{ languagesList[user.language] }}</p>
                                <p>{{ 'label.biography'|trans }}: <br>{{ user.biography }}</p>
                                {#{% if user.teams is defined and user.teams.toArray is iterable %}
                                    <p>{{ 'label.teams'|trans }}:</p>
                                    {% for team in user.teams.toArray %}
                                        <p>{{ team.name }}</p>
                                    {% endfor %}
                                {% endif %}#}

                            </div>
                            <div class="four wide column">
                                {% if user.avatar is defined and not user.avatar is null %}
                                    <img class="ui centered image" src=" {{ url('render_image', {
                                        'id': user.avatar.id,
                                        'maxwidth': 350
                                    }) }}" alt="user avatar">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}