{% extends 'layout/admin.html.twig' %}

{% block content %}
    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>

    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {% if series.id %}
                        {{ 'title.series.edition'|trans }}
                    {% else %}
                        {{ 'title.series.creation'|trans }}
                    {% endif %}
                </h3>
                <div class="ui attached segment inverted">


                    {% form_theme form 'form/fields.html.twig' %}
                    {% set formClass = 'ui form inverted' %}
                    {% if not form.vars.valid %}
                        {% set formClass = formClass ~ ' error ' %}
                    {% endif %}
                    {{ form_start(form, {attr: {class: formClass, novalidate:'novalidate'} }) }}


                    <div class="ui grid two column">
                        <div class="row">
                            <div class="twelve wide column">
                                {{ form_row(form.id) }}
                                {{ form_row(form.name) }}
                                {{ form_row(form.author) }}
                                {{ form_row(form.artist) }}
                                {{ form_row(form.tags) }}
                                {{ form_row(form.status) }}
                                {{ form_row(form.description) }}
                                {{ form_row(form.additionalNames) }}
                                {{ form_row(form.slug) }}
                                {{ form_row(form.image) }}

                                {{ form_row(form.readerSettings.readerMode) }}
                                {{ form_row(form.readerSettings.readerDirection) }}

                                <div class="field">
                                    <div class="ui checkbox">
                                        {{ form_widget(form.adult) }}
                                        {{ form_label(form.adult) }}
                                        {{ form_errors(form.adult) }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        {{ form_widget(form.visible) }}
                                        {{ form_label(form.visible) }}
                                        {{ form_errors(form.visible) }}
                                    </div>
                                </div>
                                {{ form_row(form.customTitle) }}

                                {% if series.id %}
                                    <input type="submit" class="ui button green" value="{{ 'btn.edit'|trans }}"/>
                                {% else %}
                                    <input type="submit" class="ui button green" value="{{ 'btn.create'|trans }}"/>
                                {% endif %}

                            </div>
                            <div class="four wide column">
                                {% if series.image is defined and not series.image is null %}
                                    <div class="form_image_column">
                                        <img class="ui centered image" src="{{ url('render_image', {
                                            'id': series.image.id,
                                            'maxwidth': 350
                                        }) }}" alt="">
                                        <a href="{{ url('admin_series_delete_image', {id: series.id}) }}" class="ui mini red button icon delete">
                                            <i class="ui delete icon"></i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>

        {% include 'backend/partials/series_list_chapters.html.twig' %}

    </div>

    {% if chapters is defined and chapters|length > 0 %}
        {% block javascripts %}
            {{ parent() }}
            {{ encore_entry_script_tags('admin-chapter') }}
        {% endblock %}
    {% endif %}
{% endblock %}