{% extends 'layout/admin.html.twig' %}
{% block title %}
    {{ 'page_title.reader_settings'|trans }}
{% endblock %}
{% block content %}

    <div class="ui grid padded center aligned stackable">
        <div class="sixteen wide tablet screen twelve wide large screen twelve wide widescreen column">
            {% include 'partials/flash.html.twig' %}
        </div>
    </div>

    <div class="ui grid padded left aligned stackable">
        <div class="sixteen wide tablet screen ten wide large screen eight wide widescreen column">
            <div class="row">
                <h3 class="ui top attached header inverted ">
                    {{ 'title.reader_settings'|trans }}
                </h3>
                <div class="ui attached segment inverted">

                    {% form_theme form 'form/fields.html.twig' %}
                    {% set formClass = 'ui form inverted' %}
                    {% if not form.vars.valid %}
                        {% set formClass = formClass ~ ' error ' %}
                    {% endif %}
                    {{ form_start(form, {attr: {class: formClass, novalidate:'novalidate'} }) }}

                    <div class="ui grid two column">
                        <div class="row">
                            <div class="twelve wide column">
                                {{ form_row(form.id) }}

                                {{ form_row(form.defaultReaderMode) }}
                                {{ form_row(form.defaultReaderDirection) }}
                                <div class="field">
                                    <div class="ui checkbox">
                                        {{ form_widget(form.imageScrambled) }}
                                        {{ form_label(form.imageScrambled) }}
                                        {{ form_errors(form.imageScrambled) }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        {{ form_widget(form.downloadEnabled) }}
                                        {{ form_label(form.downloadEnabled) }}
                                        {{ form_errors(form.downloadEnabled) }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        {{ form_widget(form.downloadProtected) }}
                                        {{ form_label(form.downloadProtected) }}
                                        {{ form_errors(form.downloadProtected) }}
                                    </div>
                                </div>


                                <input type="submit" class="ui button green" value="{{ 'btn.save'|trans }}"/>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>



{% endblock %}