<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookuto{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
        {{ encore_entry_link_tags('reader') }}
    {% endblock %}

</head>
<body class="reader-body">
{% block content %}
{% endblock %}

    {% block javascripts %}

        {{ encore_entry_script_tags('main') }}
        {{ encore_entry_script_tags('reader') }}
    {% endblock %}
</body>
</html>
